// Colours variables
$white: #fff;
$orange: orangered;
$light-orange: #ffa230;

::selection {
    color: $white;
    background-color: $orange;
}

nav a:active {
    color: yellow;
}

//nesting
.jumbotron {
    height: 625px;
    text-align: center;
    border-radius: 0 !important;

    .display-1 {
        text-transform: uppercase;
        font-weight: bold;
    }
}

//inheritance
%jumbo {
    background-size: cover;
    background-repeat: no-repeat;
}

#index-jumbo {
    @extend %jumbo;
    height: 400px;
    color: whitesmoke;
    background-color: $light-orange;
    .display-1 {
        text-shadow: 2px 2px darken($light-orange, 20%);
    }
    }

#about-jumbo {
    @extend %jumbo;
    background-image: url('noah-buscher-548633-unsplash.jpg');
    color: white;
    .display-1 {
        color: lightblue;
        text-shadow: 2px 2px darken(lightblue, 10%);
    }
}

#photo-jumbo {
    @extend %jumbo;
    background-image: url('mahir-uysal-529531-unsplash.jpg');
    color: peachpuff;
    .lead {
        color: $white;
    }
    .display-1 {
        text-shadow: 2px 2px darken(peachpuff, 10%);
    }
}

#equip-jumbo {
    @extend %jumbo;
    // height: 625px;
    background-image: url('joanna-kosinska-129039-unsplash.jpg');
    color: white;
    .display-1 {
        color: $light-orange;
        text-shadow: 2px 2px darken($light-orange, 20%);
    }
}

%circle-img {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}

#hero-img {
    @extend %circle-img;
}

#about-img {
    @extend %circle-img;
}

#hero-quote {
    text-align: center;
}

@media only screen and (max-width: 750px) {
    .display-1 {
        font-size: 3em;
    }

    .jumbotron {
        height: 300px;
    }
}

@media only screen and (min-width: 968px) {
    nav a:hover {
        color: $white;
        background-color: $orange;
    }
}

@media only screen and (max-width: 400px) {
    #about-img {
        display: none;
    }
}